*{
    margin: auto;
    padding: auto;
}

:root{
    color-scheme: 022B3A;
}

/*Start nav*/

nav a {
    text-decoration: none;
    color: black;
}

/*End of nav*/

/*Start header*/
header img {
    width: 150px;
    height: 150px;
}
/*End of header*/

.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}



article img{
    float:right;
}
/*Class selector*/


