*{
    margin:0px 5px;
    padding: auto;
}

:root{
    color-scheme: 022B3A;
}

/*Start nav*/

nav a {
    text-decoration: none;
    color: black;
}

/*End of nav*/

/*Start header*/
header img {
    width: 150px;
    height: 150px;
}
/*End of header*/

.hero{
    position: relative;
    width: 100%;
    height:auto;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    width: 100%;
    height: 80px;
    background-color: rgb(99, 97, 92, .8);
    position: absolute;
    color: chartreuse;
    margin: -600px 5px 0px 5px;
    text-align: center;
}


.hero article img{
    position: absolute;
    width: 200px;
    height: auto;
    margin: 32px 25px 25px 870px;
}

.hero article{
    height: 200px;
    background-color: rgba(92, 209, 190, 0.8);
    position: absolute;
    margin:-500px 90px 0 100px;
    padding: 0 50px 0 50px;
    text-align: justify;
}

p{
    margin: 0px 250px 0px 0px;
}

