* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    --height: auto;
    --padding: 10px;
    --color: darkblue;
    --text-aling: center;

}


nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a{
    color: white;
    display: block;
    padding: 10px;
 }

h1{
    color: darkblue;

}

main img{
    width: 160px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p{
    padding: 0;
    
}

main {
    max-width: 600px;
}

aside{
    width: 400px;
    text-align: var(--text-aling);
}

aside h2{
    position: absolute;
    top: 35px;
    left: 125px;
}

aside img{
        width: 200px;
        height: var(--height)

    }

footer{
margin-top: 10px;
border-top: 1px dotted;
text-align: var(--text-aling);
}

/*class selector*/

.box {
    margin: 1rem;
    border: 2px;
    padding: 1rem;
    background-color: rgb(199, 181, 24);
    color: rgb(0, 0, 0);
    position: relative;

}

